@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.9928 0.0042 56.3768);
  --foreground: oklch(0.2295 0.0051 39.3827);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2295 0.0051 39.3827);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2295 0.0051 39.3827);
  --primary: oklch(0.4903 0.1663 262.6330);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6827 0.0893 265.8644);
  --secondary-foreground: oklch(0.9911 0 0);
  --muted: oklch(0.9249 0.0042 91.4486);
  --muted-foreground: oklch(0.4586 0.0062 67.6719);
  --accent: oklch(0.9157 0.0405 273.3478);
  --accent-foreground: oklch(0.4903 0.1663 262.6330);
  --destructive: oklch(0.5060 0.1927 27.7018);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9249 0.0042 91.4486);
  --input: oklch(0.9249 0.0042 91.4486);
  --ring: oklch(0.4903 0.1663 262.6330);
  --chart-1: oklch(0.4903 0.1663 262.6330);
  --chart-2: oklch(0.7304 0.1864 52.5678);
  --chart-3: oklch(0.8575 0.1752 88.4887);
  --chart-4: oklch(0.7291 0.1265 210.8169);
  --chart-5: oklch(0.6062 0.2298 9.6281);
  --sidebar: oklch(0.9928 0.0042 56.3768);
  --sidebar-foreground: oklch(0.2295 0.0051 39.3827);
  --sidebar-primary: oklch(0.4903 0.1663 262.6330);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9157 0.0405 273.3478);
  --sidebar-accent-foreground: oklch(0.4903 0.1663 262.6330);
  --sidebar-border: oklch(0.9249 0.0042 91.4486);
  --sidebar-ring: oklch(0.4903 0.1663 262.6330);
  --font-sans: 'Roboto Mono', monospace;
  --font-serif: 'Roboto Slab', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0.25rem;
  --shadow-opacity: 0.1;
  --shadow-color: #73808c;
  --shadow-2xs: 1px 2px 0.75rem 0.25rem hsl(208.8000 9.8039% 50% / 0.05);
  --shadow-xs: 1px 2px 0.75rem 0.25rem hsl(208.8000 9.8039% 50% / 0.05);
  --shadow-sm: 1px 2px 0.75rem 0.25rem hsl(208.8000 9.8039% 50% / 0.10), 1px 1px 2px -0.75px hsl(208.8000 9.8039% 50% / 0.10);
  --shadow: 1px 2px 0.75rem 0.25rem hsl(208.8000 9.8039% 50% / 0.10), 1px 1px 2px -0.75px hsl(208.8000 9.8039% 50% / 0.10);
  --shadow-md: 1px 2px 0.75rem 0.25rem hsl(208.8000 9.8039% 50% / 0.10), 1px 2px 4px -0.75px hsl(208.8000 9.8039% 50% / 0.10);
  --shadow-lg: 1px 2px 0.75rem 0.25rem hsl(208.8000 9.8039% 50% / 0.10), 1px 4px 6px -0.75px hsl(208.8000 9.8039% 50% / 0.10);
  --shadow-xl: 1px 2px 0.75rem 0.25rem hsl(208.8000 9.8039% 50% / 0.10), 1px 8px 10px -0.75px hsl(208.8000 9.8039% 50% / 0.10);
  --shadow-2xl: 1px 2px 0.75rem 0.25rem hsl(208.8000 9.8039% 50% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2091 0.0120 237.3512);
  --foreground: oklch(0.8992 0.0052 247.8824);
  --card: oklch(0.2303 0.0141 239.3139);
  --card-foreground: oklch(0.8992 0.0052 247.8824);
  --popover: oklch(0.2303 0.0141 239.3139);
  --popover-foreground: oklch(0.8992 0.0052 247.8824);
  --primary: oklch(0.7490 0.1302 217.0169);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.3195 0.0175 241.5483);
  --secondary-foreground: oklch(0.8389 0.0096 242.8612);
  --muted: oklch(0.2598 0.0138 239.1679);
  --muted-foreground: oklch(0.6697 0.0192 240.1418);
  --accent: oklch(0.4013 0.0605 216.3594);
  --accent-foreground: oklch(0.9189 0.0545 216.7257);
  --destructive: oklch(0.6335 0.2009 24.9763);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.3609 0.0201 239.7096);
  --input: oklch(0.2889 0.0148 244.1658);
  --ring: oklch(0.7490 0.1302 217.0169);
  --chart-1: oklch(0.7490 0.1302 217.0169);
  --chart-2: oklch(0.7306 0.1225 262.5612);
  --chart-3: oklch(0.6547 0.1362 278.6286);
  --chart-4: oklch(0.8580 0.1212 82.9313);
  --chart-5: oklch(0.7242 0.1451 349.7542);
  --sidebar: oklch(0.2091 0.0120 237.3512);
  --sidebar-foreground: oklch(0.8992 0.0052 247.8824);
  --sidebar-primary: oklch(0.7490 0.1302 217.0169);
  --sidebar-primary-foreground: oklch(0.9791 0 0);
  --sidebar-accent: oklch(0.4013 0.0605 216.3594);
  --sidebar-accent-foreground: oklch(0.9189 0.0545 216.7257);
  --sidebar-border: oklch(0.3609 0.0201 239.7096);
  --sidebar-ring: oklch(0.7490 0.1302 217.0169);
  --font-sans: 'Roboto Mono', monospace;
  --font-serif: 'Roboto Slab', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 1.25rem;
  --shadow-spread: 0.5rem;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 1px 2px 1.25rem 0.5rem hsl(0 0% 0% / 0.20);
  --shadow-xs: 1px 2px 1.25rem 0.5rem hsl(0 0% 0% / 0.20);
  --shadow-sm: 1px 2px 1.25rem 0.5rem hsl(0 0% 0% / 0.40), 1px 1px 2px -0.5px hsl(0 0% 0% / 0.40);
  --shadow: 1px 2px 1.25rem 0.5rem hsl(0 0% 0% / 0.40), 1px 1px 2px -0.5px hsl(0 0% 0% / 0.40);
  --shadow-md: 1px 2px 1.25rem 0.5rem hsl(0 0% 0% / 0.40), 1px 2px 4px -0.5px hsl(0 0% 0% / 0.40);
  --shadow-lg: 1px 2px 1.25rem 0.5rem hsl(0 0% 0% / 0.40), 1px 4px 6px -0.5px hsl(0 0% 0% / 0.40);
  --shadow-xl: 1px 2px 1.25rem 0.5rem hsl(0 0% 0% / 0.40), 1px 8px 10px -0.5px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 1px 2px 1.25rem 0.5rem hsl(0 0% 0% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}